.pricing .container { padding: 100px 10px; }
.pricing .pricing-content { padding: 0; margin: 0; }
.pricing .pricing-content p { font: 12px/15px 'Sintony', Helvetica, Arial, sans-serif; padding: 10px 20px 0 0; margin: 0 0 15px 0; min-height: 60px; border-top: 1px dotted #ccc;  }
